body {
  font-family: 'Roboto Mono',monospace;
  text-align:center;
  background-image: url('https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-04-aluraflix-e-filmes.png');
  background-color: #000000;
  background-size: cover;
  background-position: center top;
	background-repeat: no-repeat;
}  
.container {
  text-align: center;
  padding: 20px;
}
.movies {
  font-weight: 700;
  background-color: white;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
  font-size: 20px;    
}
.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}  
.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}  
.page-logo {
  width: 200px;
} 
.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right:10px;
}
.catalog {
  margin: 0;
  padding: 5px;
  border: 0;
  width: 182px;
  height: 330px;
  display: inline-block;
}
.title {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15.5px;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  padding: 2px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.507);
}
body > img {
  margin: 0 10px;
}
.catalog > a > img {
  -webkit-transform: scale(1);
  transform: scale(0.93);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.catalog > a:hover > img {
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
}